.row {

  @include make-row();

  &__col {
    @include make-col-ready();
    @include make-col-auto();
    width: 100%;
  }

  &__col--sp-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__col-6 {
    @include make-col-ready();
    @include make-col(6);
  }
  
  &__col-6--mt140 {
    margin-top: 9.75vw;
  }

  &__col-4 {
    @include make-col-ready();
    @include make-col(4);
  }

  &__col-5 {
    @include make-col-ready();
    @include make-col(5);
  }

  &__col-7 {
    @include make-col-ready();
    @include make-col(7);
  }
}