.section {
  padding-top: 8.7vw;
  padding-bottom: 8.7vw;

  &--pb195 {
    padding-bottom: 13.54vw;
  }

  &--pb85 {
    padding-bottom: 5.9vw;
  }

  &--grey {
    background-color: rgba(239, 240, 242, 0.99);
  }

  &--light {
    background-color: #f8fafa;
  }

  &--lighter {
    background-color: #f9fbfb;
  }
  
  &__title {
    padding-bottom: rem(15);
    color: rgba($color: $dark-color, $alpha: .9);
    font-size: rem(38);
    font-family: $secondFont;
    font-weight: 700;
    letter-spacing: rem(2.28);
    text-transform: uppercase;
    text-align: center;
    
    span {
      display: inline-block;
      padding-right: rem(14);
      padding-left: rem(14);
      background-color: rgba(118, 244, 234, 0.5);
    }
  }
  
  &__title--main {
    padding-top: 1.4vw;
    padding-bottom: 10vw;
    color: #505050;
    font-size: rem(45);
    line-height: rem(55);
    letter-spacing: rem(2.7);
    text-shadow: rem(4) rem(8) rem(10) rgba(0, 0, 0, 0.24);
  }
  
  &__subtitle {
    color: rgba($color: $dark-color, $alpha: .62);
    font-family: $thirdFont;
    font-size: rem(18);
    text-transform: uppercase;
    letter-spacing: rem(1.08);
    text-align: center;
  }

  &__decor {
    position: absolute;
  }

  &__decor--juice {
    bottom: rem(-120);
    right: 3vw;
    width: rem(121);
    height: rem(156);
    background: center / contain no-repeat url(/assets/img/juice-1.png);
  }
}