.section {
  padding-top: 8.7vw;
  padding-bottom: 13.54vw;

  &--grey {
    background-color: rgba(239, 240, 242, 0.99);
  }
  
  &__title {
    color: #505050;
    font-family: $secondFont;
    font-size: rem(45);
    font-weight: 700;
    line-height: rem(55);
    letter-spacing: rem(2.7);
    text-transform: uppercase;
    text-align: center;
    text-shadow: rem(4) rem(8) rem(10) rgba(0, 0, 0, 0.24);

    span {
      display: inline-block;
      padding-right: rem(14);
      padding-left: rem(14);
      background-color: rgba(118, 244, 234, 0.5);
    }
  }

  &__title--main {
    padding-top: 1.4vw;
    padding-bottom: 10vw;
  }

  &__decor {
    position: absolute;
  }

  &__decor--juice {
    bottom: rem(-120);
    right: 3vw;
    width: rem(121);
    height: rem(156);
    background: center / contain no-repeat url(/assets/img/juice-1.png);
  }
}