.tile {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__wrap {
    margin-top: 8.5vw;
  }

  &--h422 {
    height: rem(422);
  }

  &--h371 {
    height: rem(371);
  }

  @for $i from 7 through 12 {
    
    &--#{$i} {
      background-image: linear-gradient(rgba($dark-color, .6), rgba($dark-color, .6)), url(/assets/img/tile-#{$i}.jpg);
    }
  }

  &--9 {
    background-size: contain;
  }

  &__front {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: rem(55) 6.95vw rem(55) 3.85vw;
  }
  
  &__open {
    color: #f9fbfb;
    font-size: rem(18);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: rem(0.72);
    opacity: 0.8;
    cursor: pointer;
    transition: $default-transition;
  }
  
  &__open-arr {
    position: relative;
    top: rem(-1);
    display: inline-block;
    width: rem(22);
    height: rem(14);
    margin-left: rem(15);
    fill: $default-color;
    opacity: 0.7;
    transition: $long-transition;
    
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__open:hover {
    color: $success-color;
    opacity: 1;
    text-shadow: 0 0 2px $success-color;
  }

  &__open:hover &__open-arr {
    fill: $success-color;
    opacity: 1;
    animation: left-to-right 1s ease-in-out infinite;    
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem(60) 7.99vw rem(55) 4.5vw;
    background-color: rgba($success-color, .97);
    transition: $long-transition;
    opacity: 0;
    visibility: hidden;
  }

  &__back--shown {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    left: 4.17vw;
    bottom: rem(50);
    width: rem(27);
    height: rem(27);
    padding: rem(5);
    fill: rgba($dark-color, 0.4);
    cursor: pointer;
    transition: $default-transition;
    
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__close:hover {
    fill: $dark-color;
    transform: scale(1.4);
  }
}